.swiper-horizontal{
    border-radius: 16px;
}

section.content{
    display: none;
}

#tileList-397.tileList .tile{
    height: 65px !important;
}

.fc-list-sticky td, .fc-list-sticky th, .fc-list-sticky .fc-event, .information-list li{
    transition: all .23s ease-in-out !important;
}

.information-list li:hover{
    background: #d6ebfd;
}

.tileList, .component-container{
    background: #fcfcfc !important;
}

.tile{
    transition: all 0.15s ease-in-out !important;
}

.tile:hover{
    background: #eeeeee !important;
}

.swiper-button-next::before, .swiper-button-prev::before{
    transition: all 0.2s ease-out;
}

.swiper-button-next:hover::before, .swiper-button-prev:hover::before{
    transform: scale(1.1);
}

.swiper-button-next:active::before, .swiper-button-prev:active::before{
    transform: scale(0.9);
}

li.actions-small-1{
    border-radius: 8px;
}
.weather-list img{
    filter: saturate(1.35) contrast(1.15) grayscale(10%);
}